#z-modal-full {
    --modal-succ-color: #1fb9c0;
    --modal-warn-color: #dc3545;
    --modal-notify-color: #212529;
    --modal-dismiss-color: rgba(0, 0, 0, 0.6);
}

#z-modal-full {
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.33);
    transition: opacity 0.33s;
    opacity: 0;
    z-index: 99999999;
    border-radius: 0;
    cursor: pointer;
}

#z-modal-wrapper {
    border-radius: 4px;
    transition: top 0.5s ease-out;
    top: 0%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    height: auto;
    font-size: 1.5rem;
    min-width: 350px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: default;
}

#z-modal-wrapper {
    max-width: 600px;
}
#z-modal-wrapper > div {
    padding: 1.25rem;
}

.z-modal-show {
    pointer-events: all !important;
    opacity: 1 !important;
}
.z-modal-show #z-modal-wrapper {
    top: 5%;
}

.modal-text {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 2.5rem !important;
    overflow-wrap: break-word;
}

.modal-buttons {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.modal-buttons button {
    padding: 0.6rem 1.1rem;
    font-size: 1.1rem;
    min-width: 80px;
    border-radius: 4px;
}
.modal-buttons button:focus {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75) !important;
}

.modal-heading {
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    display: inline-flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    padding: 1.25rem 3rem;
}
.modal-heading .modal-icons {
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
}
.modal-heading .text {
    color: rgba(0, 0, 0, 0.7);
}

.modal-heading-wrapper {
    padding: 0rem !important;
}

.succ-modal {
    color: var(--modal-succ-color);
    display: flex;
    align-items: center;
}
.succ-modal .modal-icons {
    margin-right: 6px;
    fill: var(--modal-succ-color);
}

.warn-modal {
    color: var(--modal-warn-color);
    display: flex;
    align-items: center;
}
.warn-modal .modal-icons {
    fill: var(--modal-warn-color);
}

.notify-modal {
    color: var(--modal-notify-color);
    display: flex;
    align-items: center;
}
.notify-modal .modal-icons {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 6px;
    fill: var(--modal-notify-color);
}

#modal-dismiss {
    border: 1px solid var(--modal-dismiss-color);
    color: var(--modal-dismiss-color);
    background: white;
    box-shadow: none;
    transition:
        background 0.3s,
        color 0.3s;
}
#modal-dismiss:hover {
    filter: none;
    background: var(--modal-dismiss-color);
    color: white;
}

#modal-confirm {
    border: 1px solid var(--modal-warn-color);
    box-shadow: none;
    background: var(--modal-warn-color);
    color: white;
    visibility: hidden;
    transition:
        background 0.3s,
        color 0.3s;
}
#modal-confirm:hover {
    filter: none;
    background: white;
    color: var(--modal-warn-color);
}

@media (max-width: 600px) {
    #z-modal-wrapper {
        max-width: 90%;
    }
}
